- flash.each do |type, message|
  %div{ class: "alert #{bootstrap_class_for(type)} alert-dismissible" }
    %button.close{ 'arial-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button' }×
    %strong
      = message
