.box.box-info
  .box-header.with-border
    %h3.box-title= t('Latest Notifications')
    .box-tools.pull-right
      %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
        %i.fa.fa-minus
      %button.btn.btn-box-tool{ 'data-widget' => 'remove', type: 'button' }
        %i.fa.fa-times
  .box-body
    %table.table.no-margin
      %thead
        %tr
          %th
      %tbody
        - @notifications.each do |notification|
          = render 'notifications/notification', notification: notification
